$font: 'Muli', Arial, sans-serif;
$font_b: 700;
$font_xb: 900;

$bg-color: #F2F2FF;
$white-color: #fefefe;
$placeholder-color: #e0e0e0;
$accent-color: #dedfff;
$color: #070828;

.animation{
  transition: .35s ease-in-out;
}